fhvps.co.uk {
	root * /srv

	header Strict-Transport-Security "max-age=31536000; includeSubDomains"
	header X-Content-Type-Options "nosniff"
	header X-Frame-Options "DENY"
	header Referrer-Policy "strict-origin-when-cross-origin"
	header Permissions-Policy "geolocation=(), microphone=(), camera=()"

	handle_path /hermes* {
		reverse_proxy 172.17.0.1:9119
	}

	file_server
}

hermes.fhvps.co.uk {
	reverse_proxy 172.17.0.1:9119
}

admin.fhvps.co.uk {
    reverse_proxy 172.20.0.1:8081
}

navidrome.fhvps.co.uk {
	reverse_proxy navidrome:4533
}

slskd.fhvps.co.uk {
	reverse_proxy slskd:5030
}

openwebui.fhvps.co.uk {
	reverse_proxy open-webui:8080
}
